<h3>Edit Agent</h3>
<div>
  <label>Name: <input type="text" id="agent_name" placeholder="<%= agent["name"] %>" />
  </label>
<div>
</div>
  <label>Phone: <input type="text" id="agent_phone" placeholder="<%= agent["phone"] %>" />
  </label>
</div>
<div>
  <label>Email: <input type="text" id="agent_email" placeholder="<%= agent["email"] %>" />
  </label>
</div>
<div>
  <button id="edit_agent_submit" value="<%= agent["id"] %>">Submit</button>
  <button id="edit_agent_cancel" value="<%= agent["id"] %>">Return</button>
</div>