<% layout('../../layout') -%>
<h3>Edit Customer</h3>
<div>
  <label>Name: <input type="text" id="customer_name" placeholder="<%= customer["name"] %>" />
  </label>
<div>
</div>
  <label>Phone: <input type="text" id="customer_phone" placeholder="<%= customer["phone"] %>" />
  </label>
</div>
<div>
  <label>Email: <input type="text" id="customer_email" placeholder="<%= customer["email"] %>" />
  </label>
</div>
<div>
  <button id="edit_customer_submit" value="<%= agent["id"] %>" name="<%= customer["id"]%>">Submit</button>
  <button id="edit_customer_cancel" value="<%= agent["id"] %>" name="<%= customer["id"]%>">Return</button>
</div>
