<h3>Edit Customer</h3>
<div>
  <label>Name: <input type="text" id="customer_name" placeholder="<%= customer["name"] %>" />
  </label>
<div>
</div>
  <label>Phone: <input type="text" id="customer_phone" placeholder="<%= customer["phone"] %>" />
  </label>
</div>
<div>
  <label>Email: <input type="text" id="customer_email" placeholder="<%= customer["email"] %>" />
  </label>
</div>
<div>
  <button id="customer_view_edit_customer_submit" value="<%= customer["id"] %>">Submit</button>
  <button id="customer_view_edit_customer_cancel" value="<%= customer["id"] %>">Return</button>
</div>